body{
    background-color: #f18973;
    }

div{
    background-color: #f18973;
    margin: 250px auto auto auto;
    width:400px;
    height: 200px;
    font-size: 30px;
    padding: 10px;
}



